{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main>
    <h1>Create Exercise Entry</h1>
    <form method="post" action="{% url 'create_exercise' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" id="create_exercise_button">Save Exercise</button>
    </form>
</main>
{% endblock %}