{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main>
    <h1>Manage Snacks</h1>
    <p>Welcome, {{ user.email }}!</p>
    <p>Here you can view and manage your snack entries.</p>
    <a href="{% url 'add_snack' %}" class="btn btn-success">Add Snack</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Snack Name</th>
                <th>Sugar Content (g)</th>
            </tr>
        </thead>
        <tbody>
            {% for snack in snacks %}
            <tr>
                <td>{{ snack.name }}</td>
                <td>{{ snack.sugar_content }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No snacks available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}