body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 10px;
    list-style: none;
}

main {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#create_exercise_button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#create_exercise_button:hover {
    background-color: #218838;
    box-shadow: #218838 0px 0px 10px;
}
